.homeHero{
  width: 100vw;
  min-height: 100vh;
    position: relative ; 
    color:white !important;
    padding: 70px 0 20px 0px !important; 
    background-image:  url("../../../public/Riyadh_Skyline.jpg") ;
    background-size:cover;
.homeHeroOverlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100vw;
  height: 100%;
  background-color: rgba($color: #00000054, $alpha: .3);
}
.heroFormContainer{
  padding-top: 20px;
}

.heroTitle{
  background-image: url(../../../public/img/heroTitle/explosion-colored-powder-white-background_1112-1554.avif);
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
}
@media (max-width: 768px) { // For screens smaller than 'md'
    .heroContent {
      width: 100%;
    }
    .heroFormContainer{
         display: none;       
    }
  }
  @media (min-width: 768px) { // For screens smaller than 'md'
    .heroContent {
      width: 50% !important;
    }
    .heroFormContainer{
           width:50% !important;     
    }
  }
  @media (min-width: 920px) { // For screens smaller than 'md'
    .heroFormContainer{
           max-width: 420px;     
    }

  }
