
    .testimonial-item{
  width: 95% !important; 
     padding:10px;
     p{
        font-size: 16px !important; 
        color: var(--main_text_color);
     }
}

/* Example SCSS */
.paginate
{
width: 60px;
height: 60px;
color: var(--primary);
background: var(--light);
border-radius: 60px;
font-size: 22px;
transition: .5s;
.paginateIcon{
    display: block;
    margin: 0 auto;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
}
}

  .paginateNext:hover,
  .paginatePrev:hover {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
@media screen and (min-width: 601px) {    
    .slider{
        padding:10px;
        .testimonial-item{
      width: 95% !important;
  }
  }
}
 
@media screen and (max-width: 600) {
    
    .slider{
        .testimonial-item{
      width: 85% !important;
  }
   
  }
}
 

 

  