.heroFormContainer{
    font-weight: 500;
  
    .heroForm{

//  =================== background =================
         max-width: 400px;
         border: 1px solid rgba(185, 185, 185, 0.47);
         backdrop-filter: blur(3px);
        padding: 20px;
        background-color: rgba(103, 103, 103, 0.263);
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(43, 42, 42, 0.82);
-moz-box-shadow: 0px 0px 5px 0px rgba(77, 76, 76, 0.587);
box-shadow: 0px 0px 5px 0px rgba(143, 143, 143, 0.82);

// ======================== inputs ======================
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      select 
      {
          background-color: rgba(248, 248, 248, 0.74) ;
          border:none ; 
          border-radius: 5px;
          width: 100%;
          margin-bottom: 10px;
          font-weight: 400;
          &:focus{
              
              outline: none;
              box-shadow: none;
              background-color: rgba(255, 255, 255, 0.872) ;

          }
      }
      select {
        option {
          font-weight: 400;
          font-size: 14px;
          
        }
      }
      input[type = "checkbox"]{
       &:checked{
        outline: none;
        box-shadow: none;
       }
      }
      .form-check{
        font-size: small;
        font-weight: 400;
      }
    }
    .toast{
        position: absolute;
        top:70px ;
        right: 300px;
    }
}