.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  font-size: medium;
  font-weight: 400;
  .nav-link {
    position: relative; // Ensure proper positioning for dropdowns
    color: inherit; // Preserve link color
    .rotate {
      transition: transform 0.3s ease;
    }
    &:hover .rotate {
      transform: rotate(180deg);
    }
  }
  .nav-item {
    position: relative;
    .dropdown-menu {
      display: none;
      position: absolute; 
      top: 100%;
      left: 0;
      padding: 5px;
      font-size: 15px ;  
      font-weight: 500;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px !important; 
      z-index: 1000;
      .dropdown-item {
        display: block;
        padding-block: 8px ;
        color: rgba(0, 0, 0, 0.6); // Adjust text color
        text-decoration: none;
        cursor: pointer;
   
        
      }
    }
    &:hover .dropdown-menu {
      display: block; // Show dropdown menus on hover
    }
  }
  .services-dropdown:hover .dropdown-menu {
    display: block; // Ensure Service dropdown remains visible on hover
  }
}
