.navbar{
  position: fixed !important;
  height: 70px;
  background-color: transparent !important;
  top: 0;
  left: 0;
  right:0;
  z-index: 1000;
  color:white ; 
  transition: all .5s;

// ================ NavbarMenu ===============

  .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;   
    gap: 1rem;
    font-size: medium;
    font-weight: 400;
    .nav-link {
    position: relative; 
    color: inherit; 
      .rotate {
        transition: transform 0.3s ease;
      }
      &:hover .rotate {
        transform: rotate(180deg);
      }
    }
//  ================ NavItem =============== 
    .nav-item {
      position: relative;
      
      .dropdown-menu {
        position: absolute; 
        top: 100%;
        right: 0;
        padding: 5px;
        font-size: 15px ;  
        font-weight: 500;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px !important; 
        z-index: 1100;
        transition: all 1s;
      


        .dropdown-item {
          display: block;
          padding-block: 12px !important ;
          padding-inline: 20px !important;
          color: #0a25408c ;
          text-decoration: none;
          cursor: pointer; 
        }
      }
      .show{
        display: block;
      }
  
    }
    .services-dropdown:hover .dropdown-menu {
      display: block; 
    }
  }
 
}
.scrolled{
background: #283048; 
background: -webkit-linear-gradient(to right, #6c4b63, #373B55); 
background: linear-gradient(to right, #6c4b63, #373B55); 
}

.navToggelIcon{
  width:35px ;
  height: 3.5px;
  background-color: white;
  display: block;
  margin: 5px
}
.navbar-toggler:focus {
  outline: none;
  border: none;
}

/* Optionally, you can also remove the box-shadow */
.navbar-toggler:focus {
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  background-color: none;
  border: none;
  outline: none;

}

.accordion-button:not(.collapsed) {
  background-color: none; 
  border: none;

}



